# Builds
build/
build_*/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# IDE
.vs/
.vscode/
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# JUCE specific
JuceLibraryCode/
*.jucer
*.jucer.bak

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake
!CMakeLists.txt 